@charset "UTF-8";

.well,
.admin-extras{
    text-align: right;
    border: 1px solid #ddd;
    border-radius: 0px 0px 3px 3px;
    padding: 20px;
    /*margin: 0px 7px 20px 7px;*/
    margin-bottom: 20px;
    background: rgba(210,210,210,0.3);
    box-shadow: 2px 1px 4px rgba(255,255,255,0.5);
}
    .admin-extra{
        text-align: left;
        vertical-align: top;
        display: inline-block;
        margin-right: 5px;
    }

/*=================[profile.html]===================*/
.ELMcontent .bio{ min-height: 220px;}

.ELMcontent .first_name,
.ELMcontent .last_name,
.ELMcontent .site,
.ELMcontent .email,
.ELMcontent .phone
/*, .ELMcontent .title*/
{   width: 250px;
    text-transform: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.aboutDesc,
.archiveDesc,
.blogDesc
{ width: 99%; }

.aboutDesc .ELMcontent,
.archiveDesc .ELMcontent,
.blogDesc .ELMcontent,
.awardsDesc .ELMcontent,
.sponsorsDesc .ELMcontent
{ min-height: 20px; }


form.aboutDesc,
form.archiveDesc,
form.blogDesc
{ margin-top: 20px; }

form.aboutDesc .desc,
form.archiveDesc .desc,
form.blogDesc .desc,
form.awardsDesc .desc,
form.sponsorsDesc .desc
{ min-height: 100px; }




