.idea
sercore.txt
config.production.php
config.development.php
config.testing.php
ClassLoader.save.php
en_superfish.html
mail.log
protected/var/trees
bsea.xml
testRev.xml
**/RES*
**/RES/uploads


## File-based project format
*.ipr
*.iws
*.iml

## Additional for IntelliJ
out/
