@charset "UTF-8";

.sgProfile .photo-containter{width: 253px; height: 160px; overflow: hidden;}
/*.sgProfile .photo-containter .photo {width: 253; }*/

.about-photo-containter{width: 248px; height: 142px; overflow: hidden;}
/*.about-photo-containter .photo {width: 248; }*/

.addthis_button_facebook > span {
	/*background: url("img/social-connect-facebook.png") no-repeat scroll 0% 0% transparent !important;
	background-position: 0px 0px !important;*/
}

.addthis_button_twitter {
	/**/
}

.addthis_button_vk {
	/**/
}

#popUp {
    background-image: url("img/bg.gif"); background-repeat: repeat;
}

input[type="button"].bsea,
input[type="submit"].bsea,
button.bsea
{
    font-family: "futura-pt", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
    background-color: #edf4f4;
    padding: 2px 5px 2px 5px;
    border: none;
    line-height: 20px !important;
    font-weight: 200;
}
input[type="button"].bsea:hover,
input[type="submit"].bsea:hover,
button.bsea:hover { color:#c33;cursor:pointer;}

.getNext_blogRecords,
.go-topPage{
    display: block;
    margin: 20px auto;
}
.go-topPage {display: none;}

.blog-articlesNo {
    text-align: center;
    color: #999;
    margin-bottom: 10px;
}