@charset "UTF-8";

/*general classes*/
.border-0{border: 0px !important;}

.width-65pr{ width: 65%;}
.width-75pr{ width: 75%;}
.width-99pr{ width: 99%;}
.width-100pr{ width: 100%;}

.textDesc { font-family: "futura-pt", Arial, sans-serif; font-size: 17px; line-height: 20px !important; color: #333; font-weight: 200; }
/*.textDesc p {margin: 0px;}*/
.sponsorsDesc,
.awardsDesc {width: 65%; float: right}



input[type="button"].bsea,
input[type="submit"].bsea,
button.bsea
{
    font-family: "futura-pt", Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
    background-color: #edf4f4;
    padding: 2px 5px 2px 5px;
    border: none;
    line-height: 20px !important;
    font-weight: 200;
}
input[type="button"].bsea:hover,
input[type="submit"].bsea:hover,
button.bsea:hover { color:#c33;cursor:pointer;}

.sgProfile .photo-containter{width: 253px; height: 160px; overflow: hidden;}

#popUp { background-image: url("img/bg.gif"); background-repeat: repeat; }

.getNext_blogRecords,
.go-topPage{ display: block; margin: 20px auto; }
.go-topPage {display: none;}

.blog-articlesNo { text-align: center; color: #999; margin-bottom: 10px; }


/*Social links*/
.addthis_button_facebook > span { /*background: url("img/social-connect-facebook.png") no-repeat scroll 0% 0% transparent !important; background-position: 0px 0px !important;*/ }
.addthis_button_twitter { /**/ }
.addthis_button_vk { /**/ }

.bsea-fblike{
    display: inline-block !important;
    float: right;
}


/*sticky stuff*/
#sticky-container {overflow: hidden;}

.wrapSticky { float: none !important; width: 100%; }

#sticky-archive , #sticky-blog { width: inherit !important ; }
.sticked-archive #sticky-archive,
.sticked-blog #sticky-blog
{
    width: 75% !important;
    max-width: 1100px;
    z-index: 8; background-image: url("img/bg.gif");
}
.sticked-archive #sticky-archive { height: 100px;}
.sticked-blog #sticky-blog { height: 80px; }

.wrapSticky-topbar > *{z-index: 19; width: 100% !important;}


/*==========================[galleria]===============*/

#galleria-container  input#galleria-close{
    float: right;
}

#galleria-canvas {
    position: absolute;
    top: 0px;
    width: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 9;
    /*display: none;*/
}

#galleria {
    position: absolute;
    height: 550px;
    width: 63%;
    right: 20%;
    z-index: 20;
   /* top: 100px;*/
   /* display: none;*/
}

.ivy-closeButton-canvas{ background: rgba(255,255,255,0.8); height: 27px; padding: 3px 0px 0px 0px; border-radius: 5px; }

/*===================CKEditor styles=======================*/


.SGrecord-archive *[id^="gallery-container"] { float: right; }

/*
- imaginile din gallery nu trebuie vazute
*/
.gallery  {display: none;}
.pullQuotes{
    background-color: rgba(116, 192, 226, 0.7);
    padding: 10px;
    font-family: "skolar", Times, serif;
    font-size: 20px;
    line-height: 23px;
    font-style: italic;
    color: #333;
    font-weight: 200;
    width: 75%;
    z-index: 1;
}

.previewImg{
    display: none;
}
