@charset "UTF-8";

.sgProfile .photo-containter{width: 253px; height: 160px; overflow: hidden;}
/*.sgProfile .photo-containter .photo {width: 253; }*/

.about-photo-containter{width: 248px; height: 142px; overflow: hidden;}
/*.about-photo-containter .photo {width: 248; }*/

.addthis_button_facebook > span {
	/*background: url("img/social-connect-facebook.png") no-repeat scroll 0% 0% transparent !important;
	background-position: 0px 0px !important;*/
}

.addthis_button_twitter {
	/**/
}

.addthis_button_vk {
	/**/
}

#popUp {
    background-image: url("img/bg.gif"); background-repeat: repeat;
}