body {margin: 0;padding: 0; background-image: url("img/bg.gif"); background-repeat: repeat;}
ul {display: block;list-style-type: none;margin:0; -webkit-padding-start: 0; padding-left: 0px; }
a {border-bottom: 1px dotted #666;text-decoration: none; color:#333;}
a:visited {color:#000;}
a:hover {border-bottom:none;text-decoration: none;color:#333;}
.block {width:75%;margin:0 auto; clear:both;position:relative; color:#333;max-width:1100px;}
.block-full {margin:0 auto; clear:both;position:relative; color:#333;max-width:1100px;}
.overflow {overflow:auto;}
.space {margin-bottom:20px;}
.white {background-color:#ffffff;}
.darkblue {color:#1B687C;}
.blue {color:rgb(116, 192, 226);}
.red {color:#c33;}
.orange {color:#E27747;}
.darkgrey {color:#808285;}
.greyText {color:#BCBEC0;}
.grey {color:#f4f4f4;}
.black {color:#000;}
.mainblue {color:#edf4f4;}
.filterblue {color:#59A4B5;}
.filterblueBg {background-color:#D9F3F9; padding:3px; }
.lightblue {background-color:#D2EDF5;}
.mediumblue {background-color:#A7DEED;border-bottom: 8px solid #D2EDF5;}
.lightgrey {background-color:#f4f4f4;}
.black {background-color:#000;}
.openfilesBg {background-color: #FF97B5;padding: 1px 3px;}
.fullwidth {width:100%; float:left;}
.formatIcons {width:90px; margin:5px auto; position: relative; }
.shadow {
    /*box-shadow: 2px 3px 5px #eaeaea;*/
   /* border-top:1px dotted #ccc;*/
    /*border-bottom:1px dotted #ccc;*/
}
.textColumn {width: 65%; float:left; position:relative;font-family: "futura-pt", Arial, sans-serif; font-size: 0.95em; line-height: 1.4em;color:#666;font-weight:200;}
.shareText {font-size: 12px; text-transform: uppercase;font-family: "futura-pt", Arial, sans-serif;color:#666;float:left;margin-right:7px;}
.blogsHead {font-size: 40px; line-height:45px; color:#333; font-weight:600;font-family: "futura-pt", Arial, sans-serif;}
li.shareText {list-style: none; display: inline-block;}
#geturl {margin-left:20px;}
.geturl:hover {cursor:pointer;background: url("img/get_url_icon_over.png"); background-repeat:no-repeat;height:21px;width:21px; }
.geturl {background: url("img/get_url_icon.png"); background-repeat:no-repeat;height:21px;width:21px;float:left;}
#social-connect-vkontakte {background: url("img/social-connect-vkontakte.png"); background-repeat:no-repeat;height:21px;width:21px;}
#social-connect-vkontakte:hover {background: url("img/social-connect-vkontakte-over.png"); background-repeat:no-repeat;height:21px;width:21px;cursor:pointer;}
#social-connect-twitter {background: url("img/social-connect-twitter.png"); background-repeat:no-repeat;height:21px;width:21px;}
#social-connect-twitter:hover {background: url("img/social-connect-twitter-over.png"); background-repeat:no-repeat;height:21px;width:21px;cursor:pointer;}
#social-connect-facebook {background: url("img/social-connect-facebook.png"); background-repeat:no-repeat;height:21px;width:21px;}
#social-connect-facebook:hover {background: url("img/social-connect-facebook-over.png"); background-repeat:no-repeat;height:21px;width:21px;cursor:pointer;}
#sharepanel {position:relative;float:left; width: 100%;}
#shareicons {float:left;display:inline;margin-top:-3px;position:relative;margin-left:5px;}
#share {display:inline;float:left;position: relative;z-index:10;}
.textColumnBig {width: 65%; float:left; position:relative;font-family: "futura-pt", Arial, sans-serif; font-size: 17px; line-height: 20px !important;color:#333;font-weight:200;}
.textColumnBig p {/*margin: inherit;*/}
.right {float:right;}
.leftColumnBig {width: 65%; float:left; position:relative;}
.centeredQuote {text-align: center; padding-top:20px; padding-bottom:20px; font-family: "futura-pt", Helvetica, sans-srif; font-size: 21px; font-weight: 400; font-style: italic;}
.contactInfo {position: absolute; bottom:40px; left:0; font-family: "futura-pt", Helvetica, sans-serif; font-size: 12px; line-height: 17px;text-transform: uppercase;}

/* stiluri topbar */
.logo {font-size:15px;display:inline;font-weight:600;font-family: "futura-pt", Helvetica, sans-serif;text-transform: uppercase;float:left;}
.topbar {padding-top:10px; padding-bottom:10px;}

.mainNav {font-family: "futura-pt", Helvetica, sans-serif;font-size:12px; text-transform: uppercase;font-weight: 400;display:inline;float:right;}
.mainNav li {list-style: none; display: inline-block; margin-left:40px;}
.mainNav li:hover {color:#91CECC;cursor:pointer;}
.mainNav li:first-child {margin-left:0;}
.mainNav a {color: inherit; text-decoration: none; border-bottom: 0px;}
.mainNav a:hover {color: inherit; text-decoration: none;}

/* stiluri main_home */
.theSea {width:100%;clear:both;position: relative;}
#chisinau {position: absolute; top:37%; left:14%;display:none;}
#baku {position: absolute; top:77%; left:80%;display:none;width:150px;}
.videoContainer {display:block;width:100%;}
.manifest { position: absolute; top:0; left:-50px; width:30%;}
.manifesttextContainer {background-color: #f4f4f4;text-align:center;color:#666;font-size: 13px; line-height: 15px; font-family: "futura-pt", Arial, serif;font-style:normal;font-weight: 300; padding:0 25px 0px 25px;}
.abouttextContainer {font-size: 13px; line-height: 19px; font-family: "futura-pt", Arial, serif;font-style:normal;font-weight: 300; padding:15px 0px 15px 0px;}
.textContainer {font-size: 13px; line-height: 19px; font-family: "futura-pt", Arial, serif;font-style:normal;font-weight: 300;}
.manifesttext {border-top: 1px solid #999; padding-top:10px; padding-bottom:20px;}
.storytext {border-top: 1px solid #999; padding:10px 0 10px 0; text-align:left;}
.controlmanifest {background-color: #f4f4f4; opacity: 0.85; text-align:center;padding:5px; color:#000;font-size: 10px; font-family: "futura-pt", Arial, serif;font-style:normal;font-weight: 300;text-transform: uppercase;margin:0 auto;width:110px;}
.controlmanifest:hover {opacity: 0.7;cursor: pointer;}
.socialnav {margin:0 auto; position: relative;padding: 5px 0 5px 0;}
.socialimg {margin-left:5px;opacity: 0.7;width:27px; height:auto;}
.socialimg:hover {opacity:1;cursor:pointer;}

/* stiluri iconuri */
#locationIcon {position: relative; float:left; background: url("img/locator_icon.png"); background-repeat: no-repeat; display:block;width:9px;height:12px;margin-bottom:3px;}

.recType-container {
    margin-left:6px;
    display:inline;
    float:left;

}
    .recTypeIcon{
        width:22px;
        height:22px;
        opacity:0.5;
        display:inline-block;
        background-repeat: no-repeat;
        border-bottom: 0px;
    }
    .recTypeIcon:hover{
        opacity:1; cursor:pointer;
    }
    .recTypeDesc {
        display: none;
        position: absolute;
        width: 86px;
        text-align: left;
        top: -28px;
        left: 117px;
        color: rgb(218, 65, 8);
        font-weight: bold;
        text-align: left;
    }
    .recTypeIcon:hover + .recTypeDesc {
        display: inline;
    }

.multimediaIcon { background-image: url("img/graphic_icon.png");}
/*.graficIcon:hover {opacity:1; cursor:pointer;}*/

.photoIcon {background-image: url("img/video_icon.png");}
/*.videoIcon:hover {opacity:1;cursor:pointer;}*/

.storyIcon {background-image: url("img/text_icon.png");}
/*.textIcon:hover {opacity:1;cursor:pointer;}*/

.mainFeaturedImg {position:relative; top:0; left:0;display:block; float:none; overflow:hidden;/* height: 160px;*/}
.mainFeaturedImg > a {border-bottom: none !important; display: block; overflow: hidden;/* min-height: 140px;*/ width: 100%;}
.mainFeaturedImg  img {width: 100%  !important;}



.mainFeaturedImg-profilePhoto {position:relative; top:0; left:0;display:block; float:none; overflow:hidden; /*height: 143px;*/}
.mainFeaturedImg-profilePhoto > a {border-bottom: none !important; display: block; overflow: hidden;  width: 100%;}
.mainFeaturedImg-profilePhoto  img {width: 100% !important;}



.iconsThumb {position:absolute; left:0; bottom:20px; background-color: rgba(255,255,255,0.4);padding:4px 4px 4px 0px;display:none;}
.photoIconThumb {position:relative; margin-right:6px;background-image: url("img/video_icon_thumb.png");background-repeat: no-repeat; display:inline;float:right;width:22px; height:22px;}
.storyIconThumb {position:relative; margin-right:6px;background-image: url("img/text_icon_thumb.png");background-repeat: no-repeat;display:inline;float:right;width:22px; height:22px;}
.multimediaIconThumb {position:relative; margin-right:6px;background-image: url("img/graphic_icon_thumb.png");background-repeat: no-repeat;display:inline;float:right;width:22px; height:22px;}


/* stiluri bloguri */
.blogmain {display:block; margin:0 auto;width:100%;clear:both;position: relative;overflow:hidden;text-align: center;}
.blogmain_item {display: inline-block; padding:10px;color:#666;float:left; padding-left:0;margin:0 auto;width:23%;text-align: center;}
.blogmainContainer, .archivemain {width:100%;display:block; margin:0 auto;clear:both;position: relative;text-align: center;}
.blog_id {font-family: "futura-pt", Arial, serif; font-size: 10px; text-transform: uppercase;color:#666;position: relative;display:block;}
.arrow {font-family: "futura-pt", Arial, serif; font-size: 10px; text-transform: uppercase; display:inline-block;}
.blogmain_head {font-family: "skolar", Times, serif; font-size: 13px; font-style:italic;/*display: inline-block;*/}

#travelnotes, #Travel_Notes{background-color: #7FC7AF;}
#photoblog,   #Photoblog {background-color: #DAD072;}
#resources,   #Resources {background-color: #FF9E9D;}
#openfiles,   #Open_Files {background-color: #FF3D7F;}

.blogSection {color:#FFF; text-align: center; text-transform: uppercase; font-size: 12px;margin:0 auto;}
.blogSection a {color: inherit; border-bottom: 0px;}
.blogSectionColumn { position: relative; width:24%;display:inline-block; margin-top:10px; border-bottom: 0px;}
.blogSectionColumn:hover,
.blogSectionColumn-current
{padding-top:10px;cursor:pointer;margin-top:0;}

/* stiluri pentru foto */
.imageColumn {
    position: relative;
    float:left;
    display:inline-block;
    text-align: left;
    margin-right:0.5%;
    width:24.5%;
}

.archivePrevRec {
    position: relative;
    float: left;
    height: 280px;
    /*vertical-align: text-top;*/
    display:inline-block;
    text-align: left;
    margin-right:0.5%;
    width:24.5%;
}
.allrecords {
    overflow: hidden;
}
    .record-unpublished{ color: #ff4500 !important;}

.imageColumn:hover {cursor:pointer;}
.imageColumnHead, .imageColumnHead a {font-family:"futura-pt", Arial, serif; font-size: 12px; text-transform: uppercase;text-decoration: none; color:#333;border-bottom: 1px solid rgba(150,150,150,0);}
.imageColumnHead a:hover {text-decoration:none; border-bottom: 1px dotted #666;}
.imageColumnHead .ATmpl {text-transform: lowercase !important;}
.StoryLabel {font-family:"futura-pt", Arial, serif; font-size: 11px; text-transform: uppercase;text-decoration: none; }
.imageColumnLocation {font-family:"futura-pt", Arial, serif; font-size: 11px; text-transform: uppercase; line-height: 12px; padding-top:5px;display:block;}
.imageColumnMeta{padding-top:5px; padding-bottom:15px;padding-right:25px;font-family: "futura-pt", Times, serif;font-size:13px; color:#666;}
.imageColumnRow {float:left; position:relative;display: block; width:100%;}
.AuthorImage {float:left; position:relative; display:inline;width:44%;margin-right:5%;}
.AuthorMeta {width:50%; float:left; position: relative;}
.LeftColumnSmall {width:25%; float:left;margin-right:30px;display: inline;}
.border {width:100%; float:left; position: relative; height:15px; border-bottom: 1px dotted #ccc;margin-bottom:15px;}
.thickBorder {border-bottom: 4px solid #333; margin-bottom: 8px;}
.thickBorderBlue {border-bottom: 4px solid #59A4B5; margin-bottom: 8px;}
.orangeleftborder,
.travelnotesleftborder, .Travel_Notesleftborder ,
.photoblogleftborder, .Photoblogleftborder ,
.resourcesleftborder, .Resourcesleftborder,
.openfilesleftborder, .Open_Filesleftborder
{margin-bottom:20px;padding-left:13px;}

.imageColumn.filter:hover {cursor:pointer;}

.orangeleftborder {border-left:10px solid #E27747;}
.greyleftborder {
    border-left:10px solid #333;
    margin-bottom: 20px;
    padding-left: 13px;
}

.travelnotesleftborder, .Travel_Notesleftborder {border-left:10px solid #7FC7AF;}
.photoblogleftborder, .Photoblogleftborder {border-left:10px solid #DAD072;}
.resourcesleftborder , .Resourcesleftborder {border-left:10px solid #FF9E9D;}
.openfilesleftborder, .Open_Filesleftborder {border-left:10px solid #FF3D7F;}

.travelnotes, .travelnotes a,
.Travel_Notes, .Travel_Notes a {color:#7FC7AF ;border-bottom: none;}
.travelnotesBg, .Travel_NotesBg {background-color: #D3EAE2; padding:3px;}

.photoblog, .photoblog a,
.Photoblog, .Photoblog a {color:#DAD072;}
.photoblogBg, .PhotoblogBg {background-color: #EDE7BE; padding:1px 3px;}

.resources, .resources a,
.Resources, .Resources a {color: #FF9E9D;border-bottom: none;}
.resourcesBg , .ResourcesBg {background-color: #FFCFCF; padding:1px 3px;}

.openfiles, .openfiles a,
.Open_Files, .Opiten_Files a {color:#FF3D7F;}
.Open_FilesBg {background-color:#FF97B5; padding:1px 3px; }


.date {color:#A7A9AC;margin-left: 5px;}
.photoGalleryThumbs {width:25%; height:auto; float:left; position: relative;border:3px solid transparent; }
.photoGalleryThumbs:hover {border:3px solid #9BC2CC;}

.container-photoThumbs {
    width: 70px;
    height: 40px;
    float: left;
    position: relative;
    overflow: hidden;
    border: 3px solid transparent;
}
.container-photoThumbs:hover {border:3px solid #9BC2CC;}


.photoThumbs {width: 100%;}

li.relatedContent {list-style: none;width:100%;font-family: "futura-pt", Arial, serif; font-size: 14px;line-height: 16px; color:#333;font-weight: 300;}
li.relatedContent input{width: 300px;}
li.relatedContent a {border-bottom: 1px dotted #999;text-decoration: none;color:#333;}
li.relatedContent a:hover {border-bottom: none;}
.footerText {font-family: "futura-pt", Arial, serif; font-size: 13px;line-height:14px;color:#BCBEC0;font-weight: 100;padding:20px 0;}
.footerText a {color:#999;text-decoration: none;} 
.footerText a:hover {color:#BCBEC0;cursor:pointer;}
.contributions a {font-size:15px; color:#9BC2CC;border-bottom: none;}
.contributions a:hover {border-bottom:1px dotted #9BC2CC;}
.authorQuote {background:#fff; position: absolute; width:100%; height:100%; top:0; left:0; font-size: 15px; font-family: "futura-pt", Arial, sans-serif;text-align: center; padding: 50px 0px;display: none;color:#333;}

/* stiluri pentru text, titluri etc. */
.smallUpper {font-family: "futura-pt", Arial, serif; font-size: 10px; text-transform: uppercase;float:left;display:inline;}
.centered_head {font-family: "skolar", Times, serif; font-size: 14px; text-align: center;font-weight: 300;text-transform: uppercase;margin:0 auto;}
/* stiluri detalii design */
.circle{width:8px;height:8px;border-radius:4px;text-align:center;/* margin:0 auto;margin-top:3px; margin-bottom:3px; */ margin-right:3px;}
.divider {
    width:100%;
    background-image: url('img/divider.png');
    height:2px;
    margin-bottom:5px;
    position: relative;
    float:left;
    /*border-bottom: 1px solid #eee;*/
}
.divider-clear {
    width:100%;
    background-image: url('img/divider.png');
    height:2px;
    margin-bottom:5px;
    position: relative;

}
.storyhead {font-size: 13px; text-transform: uppercase;font-weight:300;}
.theStory {width:450px; float:right; font-family: "skolar", Times, serif; font-size:15px; line-height: 20px; color:#999;font-weight: 300;}
.showMore {font-family: "futura-pt", Arial, sans-serif; font-size: 12px; text-transform: uppercase;color:#666; background-color:#edf4f4;padding:2px 5px 2px 5px;float:right;margin-right:20px;margin-bottom:20px;}
.showMore:hover { color:#c33;cursor:pointer;}
.moreText {display:none;}
.label {font-family: "futura-pt", Arial, sans-serif; font-size: 12px; text-transform: uppercase;color:#666; background-color:#edf4f4;padding:2px 5px 2px 5px;float:left;}
.storyCaption {
    font-family: "skolar", Times, serif;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    color: #333;
    /*width: 65%;*/
   /* float: right;*/
    margin-top: 10px;
    margin-bottom: 50px;

}
.byFilter {font-family: "skolar", Times, serif; font-size:15px; line-height:17px;font-weight:400;position: relative;clear:both;padding-bottom:5px;float:left;}

.firstcharacter {
    float: left;
    font-size: 70px;
    line-height: 60px;
    padding-right: 8px;/* font-family: "skolar", Times, serif; */
    font-weight:700;
}


.Name{
    font-family: "skolar", Times, serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    position: relative;
    clear: both;
    padding-bottom: 5px;
    float: left;
}

.SGrecord .Name {
    font-family: "skolar", Times, serif;
    font-size: 23px;
    line-height: 27px;
    font-weight: 400;
    position: relative;
    clear: both;
    padding-bottom: 5px;
}


.NameCentered {font-family: "skolar", Times, serif; font-size: 17px; line-height:17px;font-weight:400;position: relative;clear:both;padding-bottom:5px;}
.arrowRight {width: 0; height: 0; border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid white; display:inline;margin-left:4px;position:relative;float:right;margin-top:2px;}
.arrowDown {width: 0; height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #333;float:left;position:relative;margin-top:7px;margin-left:5px;}
.filter1_panel {display:none;}
.filter_label {border-bottom: 0px; width:17%; color:#59A4B5; padding:5px;display: block; float:left;font-family: "futura-pt", Arial, sans-serif; font-size: 12px; text-transform: uppercase;}
.filters-hover, .filters-selected{border-bottom: 4px solid #59A4B5; margin-bottom: 8px;}
.filters-hover .Name, .filters-selected .Name{color:#59A4B5;}
.filter-selected {font-weight: bold;}

.arrowRightGrey {width: 0; height: 0; border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid #ccc; display:inline;margin-left:4px;position:relative;float:right;margin-top:2px;}
.place {display:none;}
#chisinau_place, #baku_place {display:none;}
.onTheMap:hover {cursor:pointer;}

@media screen and (min-width:900px) and (max-width:1200px){
.manifest {width:40%;}
.block {width:75%;}
#chisinau {top:37%; left:9%;}
#baku { top:77%; left:73%;}

}

@media screen and (max-width:899px) {
.block	{width:800px;}
.manifest { position: absolute; top:0; left:-20px; width:35%;}
#chisinau {top:37%; left:10%;}
#baku { top:77%; left:75%;}
}


/* cartodb map */
#cartodb-map {margin-top: -20px; width: 100%; height:550px; background: #333;}
div.leaflet-control-attribution.leaflet-control {background-color: #333;color: #999;opacity: 1;border: 0px solid #333;-moz-box-shadow: 0 0 0 #000000;-webkit-box-shadow: 0 0 0 #000000;box-shadow: 0 0 0 #000000;}
.leaflet-container {font-family: "futura-pt", Helvetica, sans-serif; font-size: 12px; color:#666;background-color: #ccc;}
div.cartodb-popup.dark p {color: #CCC;display: block;width: 190px;max-width: 190px;margin: 0;padding: 0 0 7px;font: normal 15px/18px "futura-pt", Helvetica, sans-serif;color: #333;word-wrap: break-word;background-color: #ccc;}
div.cartodb-popup.dark div.cartodb-popup-content-wrapper {background: #ccc;}
.cartodb-popup-header {font: normal 21px/23px "futura-pt", Helvetica, sans-serif;}
div.cartodb-popup.dark a.cartodb-popup-close-button {background: url('foto/close_button.png') no-repeat 0 -23px;margin:20px;}




/*
@media screen and (min-width:1201px) {
.block	{width:900px;}
}
*/
.blogmain_head a,
a.noBorder{ border: 0px; color: inherit;}

.home-latestIn {position: absolute;left: 0px; top: 10px;}

/*======== blogSite - content.php */
.blkcat85 {
    height: 20px;
    margin: 0px;
    background: #000000 !important;
}
    .blkcat85 .logo ,
    .blkcat85 .mainNav a,
    .black .mainNav a,
    .black .logo
    {
        color: #ffffff;
    }
.blkcat85 .mainNav a:hover,
.black .mainNav a:hover
{color: #9BC2CC;}

/*================= about.html==========*/
.uactive0 { color: #808080 !important;}
.uclass5 {color: #808080 !important; font-style: italic;}

img.uclass5 {opacity: 0.5;}
img.uclass5:hover {opacity: 1;}

img.homeGrf { width:100%;float:left;
display:block;padding-bottom:10px;background-color :#f4f4f4;position:
relative;}
